{% extends 'base.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-header">
            <h1>Вход</h1>
            <p>Войдите в личный кабинет</p>
        </div>

        <form method="post" action="{% url 'accounts:login' %}">

    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
    </p>

    <p>
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
    </p>

    <button type="submit" class="button auth-button">
        Войти
    </button>

</form>

        <p class="auth-footer">
            Нет аккаунта?
            <a href="{% url 'accounts:register' %}">
                Зарегистрироваться
            </a>
        </p>

    </div>

</div>

{% endblock %}